/* selected link */
#Gallery {
  color: var(--highlight-color);
}

.slideshow{
  display: none;
  grid-template-columns: auto auto auto;
  position: fixed;
  place-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  z-index: 2;
}

.image{
  border: rgba(255, 255, 255, 0.75);
  border-style: solid;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
  border-width: 2px;
  display: grid;
  grid-template-columns: max-content;
  place-items: center;
  justify-content: center;
}

.prev_area{
  width: 100%;
  height: 25%;
  display: grid;
  place-items: center;
  justify-items: right;
  cursor: pointer;
}

.prev{
  background-image: radial-gradient(circle closest-side, var(--highlight-color) 45%, rgba(0, 0, 0, 0) 55%  );
  width: var(--bt_size);
  height: var(--bt_size);
  display: grid;
  opacity: 0%;
}

.next_area{
  width: 100%;
  height: 25%;
  display: grid;
  place-items: center;
  justify-items: left;
  cursor: pointer;
}

.next{
  background-image: radial-gradient(circle closest-side, var(--highlight-color) 45%, rgba(0, 0, 0, 0) 55%  );
  width: var(--bt_size);
  height: var(--bt_size);
  display: grid;
  opacity: 0%;
}

.arrow{
  width: 55%;
  margin: auto;
}

.content{
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
}

.title{
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  font-size: larger;
  font-family: 'Cinzel', serif;
  text-align: center;
  text-decoration: underline;
  padding-top: 5em;
}

.filters {
  padding-top: 3em;
  padding-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(9, max-content);
  place-content: center;
  gap: 1em;
}

button{
  position: relative;
  background-color: var(--passive-color);
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
button::after {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  margin: -2px;
  transform-origin: 0 100%;
  transform: scaley(.05);
  background-color: white;
  mix-blend-mode: difference;
  transition: transform .25s;
  content: '';
  font-weight: bolder;
}
button:focus {
  outline: none;
}
button:hover::after {
  transform: none;
}
button.active::after {
  transform: scaley(.12);
}
button.active:focus {
  outline: none;
}
button.active:hover::after {
  transform: none;
}

.grid{
  display: grid;
  padding: 1em;
  grid-gap: 1em;
  grid-template-columns: repeat(3, minmax(100px, 300px));
  /* grid-template-rows: repeat(200, minmax(66px, 200px)); */
  padding-bottom: 4em;
}

.card{
  background-color: black;
  /* background-image: radial-gradient(rgba(255, 255, 255, 0), black 50%); */
  display: grid;
  grid-template-rows: none;
  place-items: center;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.7);
}

.selected{
  opacity: 0.75;
  cursor: pointer;
}

.photo{
  display: grid;
  place-items: center;
  place-content: center;
  width: 100%;
  height: 100%;
  max-height: 200px;
  max-width: 300px;
  object-fit: cover;
}

.zoom{
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
}

.hidden{
  display: none;
}

/* Loader classes */
.lds-spinner {
  color: official;
  display: none;
  position: absolute;
  width: 80px;
  transform: scale(0.5);
  height: 80px;
  inset: 0;
  margin: auto;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}